for(int i = 0; i<10 ;i++){
    code //
    code//
}

In [1]:
# range function 
range(1,11) 
# last number is excluded and first one is included

range(1, 11)

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# range function contains three parameters
# range(start,stop,step)
print(range(5))
# if we pass only one number in range function it automatically take it as a end number not starting number
list(range(6))

range(0, 5)

[0, 1, 2, 3, 4, 5]

In [6]:
#step increase or decrease the difference between two numbers like wise.
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [8]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
# sequence 
# string
"Delhi"
# it is a seqce. of chara.

'Delhi'

In [10]:
["delhi","punjab","Up"]

['delhi', 'punjab', 'Up']

In [11]:
("delhi","punjab","Up")

('delhi', 'punjab', 'Up')

In [12]:
#for-loop in python only operates on range function and sequence

for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [14]:
for i in "Delhi":
    print(i)

D
e
l
h
i