#Tuples are very similar to list
#Create
#Access
#Edit
#Add
#Delete
#Operations
#Functions

In [2]:
#Create
T1 = ()  #Empty tuple
print(T1)

()

In [3]:
T2 = (1,2,3,4,5) #Hetrogenous tuple
print(T2)

(1, 2, 3, 4, 5)

In [5]:
T3 = ('hello',1,1.2,False) #Homogenous tuple
print(T3)

('hello', 1, 1.2, False)

In [7]:
#You also create 2-D tuples and 3-D tuples
T4 = (1,2,3,(4,5))
print(T4)

(1, 2, 3, (4, 5))

In [11]:
#HOW TO CREATE SINGLE ELEMENT TUPLE
T5 = (1)
print(type(T5))
T6 = ("Hello")
print(type(T6))

#Correct way to make a single item tuple is 
T7 = ("hello",)
print(type(T7))
T8 = (1,)
print(type(T8))

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [13]:
# you can also create tuple by using Type-conversion.For ex-
T9 = tuple("Goa")
print(T9)

#List to tuple typeconversion
T10 = tuple([1,2,3,4,5])
print(T10)

('G', 'o', 'a')
(1, 2, 3, 4, 5)

In [16]:
# how to 'Access'
# Almost similar to list

T11 = (1,2,3,4,5)
print(T11[0])
print(T11[1])
print(T11[2])
print(T11[3])
print(T11[4])

1
2
3
4
5

In [24]:
#Slicing also works
print(T11[:4])
print(T11[-1:-1])

#2-D tuple
T13 = [1,2,3,[4,5]]
print(T13[-1][0])

(1, 2, 3, 4)
()
4

In [26]:
#How to 'Edit'
newTuple = (1,2,3,4,5)
#Now if you want to edit the 1st item of tuple with any other item.Is it possible??
newTuple[0]=100

TypeError: 'tuple' object does not support item assignment

# Bcoz Tuples are just like strings which are immutable.

# ADD ,can we add new items in tuple??
NO NO  NO NO NO NO,and the reason is same as mentioned above

In [28]:
# Delete 
T14 = (1,2,3,4)
print(T14)
del T14
print(T14)

(1, 2, 3, 4)

NameError: name 'T14' is not defined

NOTE - you are allowed to delete the whole tuple But you are not allowed to delete one single element or item or a part of tuple.

In [29]:
T15 = (1,2,3,4,5)
del T15(1)
print(t15)

SyntaxError: cannot delete function call (1890345539.py, line 2)

In [ ]:
#Operations are aslo same as list
#1 Concatenation
#2 forin loop
#3 membership operator

In [31]:
T1 = (1,2,3,4)
T2 = ('hello',5,6)
print(T1,T2)
print(T1+T2)

(1, 2, 3, 4) ('hello', 5, 6)
(1, 2, 3, 4, 'hello', 5, 6)

In [32]:
for i in T1:
    print(i)

1
2
3
4

In [33]:
1 in T1

True

In [40]:
#Funtcions

t1 = (1,2,3,4)
print(len(t1))
print(min(t1))
print(max(t1))
print(sum(t1))
print(sorted(t1)) #this will convert tuple into list
print(sorted(t1,reverse=True))

4
1
4
10
[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
#Two types of operations 
#1.read operation ,means accessing the memory
#2.write operation,means changing memory
#Tuples are read only data-type
# those scenarios when data-integration is impr.