In [6]:
# Lambda functions
# lambda input: expression
x = lambda x : x**2
x(9)

81

In [11]:
a = lambda x,y : x + y
print(a(4,5))
print(type(a))

9
<class 'function'>

# difference lambda function vs normal functions 
# lambda has no return value.
# complete function return \.
# not use for code reusability
# only one line
# no namne

In [ ]:
# But why???
# along with higher order functions

In [13]:
a = lambda x:x[0] == 'b'
a('banana')
a('Apple')

False

In [14]:
a = lambda x:'even' if x%2==0 else 'odd'
print(a(2))
print(a(3))
print(a(4))

even
odd
even

In [1]:
l = [11,14,21,23,56,78,45,29,28]
def return_sum(l):
    evenSum = 0
    oddSum = 0
    
    for i in l:
        if i%2 == 0:
            evenSum = evenSum + i
        if i%2 != 0:
            oddSum = oddSum + i
        return(evenSum,oddSum)
# note:- this is still improved and you can improved it by using higher order functions.

In [3]:
# by using higher order function....
def returnSum(func,l):
    res = 0
    
    for i in l:
        if func(i):
            res = res + i
    return res

l = [11,14,21,23,56,78,45,29,28]

x = lambda x:x % 2 == 0
y = lambda x:x % 2 != 0 
z = lambda x:x % 3 == 0

print(returnSum(x,l))
print(returnSum(y,l))
print(returnSum(z,l))

176
129
144

# map 
# filter 
# reduce

In [4]:
# Map
# map(function,iterable)
l = [1,2,3,4,5,6,7]
map(lambda x:x*2,l)

In [5]:
list(map(lambda x:x*2,l))

[2, 4, 6, 8, 10, 12, 14]

In [2]:
l = [1,2,3,4,5,6,7]
list(map(lambda x:x%2 == 0,l))

[False, True, False, True, False, True, False]

In [10]:
# list conatining three dictionaries.
students=[
    {
        "name":"ABC",
        "father name":"abcd",
        "Address":"123 hill street",
    },{
        "name":"DEF",
        "father name":"defg",
        "Address":"3 upper street london",
    },{
        "name":"GHI",
        "father name":"ghij",
        "Address":"Unknown",
    }
]

map(lambda student:student["name"],students)
list(map(lambda student:student["name"],students))

['ABC', 'DEF', 'GHI']

In [11]:
# filter method
l=[1,2,3,4,5,6]
list(filter(lambda x:x>4,l))

[5, 6]

In [12]:
fruits = ['Apple','Orange','Mango','Guava']
list(filter(lambda fruit:'e' in fruit,fruits))

['Apple', 'Orange']

In [13]:
# Reduce
import functools
l = [1,2,3,4,5,6,7]
functools.reduce(lambda x,y:x+y,l)

28

In [17]:
functools.reduce(lambda x,y:x if x>y else y,l) #this will give you the largest number of the list.

7

In [18]:
functools.reduce(lambda x,y:x if x<y else y,l) #this will give you the smallest number of the list.

1

In [21]:
# list comprehension
# list from another list
l = [1,2,3,4,5,6]
l1 = [item*2 for item in l]
print(l1)

[2, 4, 6, 8, 10, 12]

In [22]:
l2 = [i**2 for i in range(10)]
print(l2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
l3 = [i**2 for i in range(10) if i%2!=0]
print(l3)

[1, 9, 25, 49, 81]

In [25]:
l4 = ['Apple','Orange','Mango','Guava']
l5 = [fruit for fruit in fruits if fruit[0] == 'O']
print(l5)

['Orange']

In [30]:
D = {"Name":"Gaurav","Gender":"male","Age":22}
D.items()
D1 = {key:value for key,value in D.items() if len(key)>3}
print(D1)

{'Name': 'Gaurav', 'Gender': 'male'}

In [35]:
listofNumbers = [1,2,3,4,5,6,7]
D = {item:item**2 for item in listofNumbers}
print(D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [37]:
D1 = {item:item**2 for item in listofNumbers if item%2 == 0}
print(D1)

{2: 4, 4: 16, 6: 36}